---
import ArrowCard from '@/components/ArrowCard.astro'
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { YouTube } from "astro-embed";

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6 w-full max-w-[939px] mx-auto">
    <section>
      <Card>
        <CardHeader>
          <CardTitle className="text-3xl">ei·zo·gak</CardTitle>
          <CardDescription
            >/eː zoː ɡaku/ &bull; <span class="font-semibold">えいぞうがっく</span
            ></CardDescription
          >
        </CardHeader>
        <CardContent>
          <p class="mb-2 text-sm text-muted-foreground">
            映像学区です。私たちはデザインの概念を主眼に据えた映像制作チュートリアルのほか、カメラやレンズのレビュー、日本を巡る写真旅シリーズなど、多彩なコンテンツを通じて創作活動をしています。
          </p>
          <p class="text-sm text-muted-foreground">
            Welcome to eizo-gak official website!  
          </p>
        </CardContent>
      </Card>
    </section>

    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest Posts</h2>
      <p style="margin-top: -30px; font-weight: bold; letter-spacing: 0.5px;">&nbsp[ 新 着 記 事 ]</p>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>

    <section>
      <h2 class="text-2xl font-bold">Latest eizogak.</h2>
      <p style="margin-top: -10px; font-weight: bold; letter-spacing: 4px;">[ 最新の動画 ]</p>
      <br/>

      <div style="display: flex; justify-content: center;">
        <iframe
          width="95%"
          height="auto"
          style="max-width: 1200px; aspect-ratio: 16/9; border: none;"
          src="https://www.youtube.com/embed/Y3M8SPUHOLo"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>

    
    <section>
    <div class="hidden lg:block">
      <br/>
      <div style="display: flex; justify-content: space-between;">
        <div style="width: 32%;">
          <a href="https://sites.google.com/view/happy-busy/">
            <img src="/static/EmbeddedImage.webp" alt="img" style="width: 100%;" />
          </a>
        </div>
        <div style="width: 32%;">
          <a href="https://ameblo.jp/toukami/entrylist.html">
            <img src="/static/logo-web_toukami.png" alt="img" style="width: 100%;" />
          </a>
        </div>
        <div style="width: 32%;">
          <a href="https://pvsf.jp/">
            <img src="/static/pvsf-banner.png" alt="img" style="width: 100%;" />
          </a>
        </div>
      </div>
    </div>
    </section>


    <section>
    <div class="block lg:hidden flex justify-center">
      <br/>
        <div style="width: 45%; align:center;">
          <a href="https://sites.google.com/view/happy-busy/">
            <img src="/static/EmbeddedImage.webp" alt="img" style="width: 100%;" />
          </a>
        </div>

        <div style="width: 45%; align:center;">
          <a href="https://ameblo.jp/toukami/entrylist.html">
            <img src="/static/logo-web_toukami.png" alt="img" style="width: 100%;" />
          </a>
        </div>
    </div>
    </section>    


    <section>
      <h2 class="text-2xl font-bold">&nbspWeekly Posts.</h2>
      <p style="margin-top: -15px; font-weight: bold; letter-spacing: 2.5px;">&nbsp&nbsp[ 週報のコーナー ]</p>
      <br/>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.filter(post => post.data.tags?.includes('週報')).map(filteredPost => (
            <li>
              <ArrowCard entry={filteredPost} />
            </li>
          ))
        }
      </ul>
      <br/>
      <div class="flex justify-center">
        <Link
          href="/tags/週報"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
      <br/>
      <br/>
    </section>


    <!-- <section>
      <h2 class="text-2xl font-bold">&nbspLightroom Presets</h2>
      <p style="margin-top: -10px; font-weight: bold; letter-spacing: 0.5px;">&nbsp&nbsp[ ...は準備中なので、テキトーなおすすめ記事 ]</p>
      <br/>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.filter(post => !post.data.tags?.includes('週報')).map(filteredPost => (
            <li>
              <ArrowCard entry={filteredPost} />
            </li>
          ))
        }
      </ul>
      <br/>
    </section> -->


    <section>
    <div class="block lg:hidden flex justify-center">
      <br/>
        <div style="width: 45%;">
          <a href="https://pvsf.jp/">
            <img src="/static/pvsf-banner.png" alt="img" style="width: 100%;" />
          </a>
        </div>
        <div style="width: 45%;">
          <a href="https://eizo-gak.com/">
            <img src="/static/logo-web2.png" alt="img" style="width: 100%;" />
          </a>
        </div>
    </div>
    <br/>
    </section>   

    
  </Container>
</Layout>